@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

/* Color Variables */
$yellow: #FFCE1E;
$blue: #070A44;
$red: #E85D5D;
$black: #41485A;

a, a:hover {text-decoration: none;}
a {transition: 0.3s;}
h1, h2, h3, h4 { margin:0; }
h1 a {transition: 0s;}
ul {
  padding:0;
  margin:0;
}
li {
  padding:0;
  list-style: none;
}
img {max-width:100%;}        

strong {
  font-weight: 500;
  color: #000;
}
* {box-sizing: border-box !important;}
html {
  scroll-behavior: smooth;
  transition-duration: 2500ms;
}
body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

/*** HEADER ***/
header {
  z-index: 100;
  width: 100%;
  height: 91px;
  position: fixed;
  top: 0; 
  background: #fff;
}
header .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header h1 {
  float:left;
  margin-top: 23px;
}
header nav {
  position: relative;
  float:left;
}
.button-background {
  position: absolute;
  background: $yellow;
  display:block;
  border-radius: 4px;
  width: 108px;
  height: 29px;
  top: 35px;
  left: 46px;
  z-index: -1;
  transition: all 0.6s cubic-bezier(.17,.67,.23,1.01);
}
header nav ul {
  display: block;
  justify-content: space-between;
  overflow: hidden;
  padding: 38px 0px 25px 46px;
  width: 100%;
}
header nav ul li {
  float:left;
  margin-right: 40px;
}
header nav ul li a, header nav ul li a:hover {
  font-weight: 500;
  font-size: 14px;
  color: $blue;
  padding: 6px 12px 4px 12px;
}
.menu-toggle {display: none;}
/*** END HEADER ***/

/*** TOPO ***/
#topo {
  background: url(../image/ilu_top.svg) no-repeat top right;
  position: relative;
  width: 100%;
  height: 475px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 180px;
  padding-top: 75px;
}
#topo br.mobile {display: none;}
#topo h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 105.19%;
  color: #000;
}
#topo p {
  width: 435px;
  margin: 33px 0 100px 11px;
  font-size: 14px;
  line-height: 23px;
}
#topo img {display: none;}
/*** END TOPO ***/

/*** QUEM SOMOS ***/
#quem-somos {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background: url(../image/ilu_quem_somos.svg) 0 230px no-repeat;
  overflow: hidden;
}
#quem-somos img { display: none; }

#quem-somos h2 {
  background: url(../image/decor_quem_somos.svg) top right no-repeat;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: #000;
  margin-bottom: 55px;
  padding: 171px 0 21px 0;
}
#quem-somos div.box.missao { 
  float: right;
  margin-top: 14px;  
  margin-right: 15%;
  width: 418px;
  height: 189px;
}
#quem-somos div.box.visao {
  clear: both;
  float: right;
  margin-top: 31px;
  margin-right: 1%;
  margin-bottom: 25px;
  width: 435px;
  height: 192px;
}
#quem-somos div.box {
  padding: 40px 60px;
  background: #fff;
  box-shadow: 6px 4px 23px rgba(240, 238, 238, 0.58);
  border-radius: 8px;
}
#quem-somos div h3 {
  color: $yellow;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#quem-somos div p {
  font-size: 14px;
  line-height: 22px;
}
/*** END QUEM SOMOS ***/

/*** VALORES ***/
#valores {
  width: 100%;
  overflow: visible;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 70px;
}
.decor {    
  width: 100%;
  height: 200px;
  background: url(../image/decor_valores.svg) top left no-repeat;
}
.decor img {display: none;}
#valores .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#valores h2 {
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  line-height: 74px;
  color: #000;
  margin-bottom: 40px;
  margin-left: 5px;
}
#valores .klug-card {
  float:left;
  background: #fff;
  margin-right: 99px;
  margin-bottom: 63px;
  border: 2px solid $blue;
  width: 333px;
  height: 235px;
  color: $blue;
  border-radius: 8px;
  overflow: hidden;
  padding: 35px 60px 45px 50px;
  cursor: pointer;
}
#valores .klug-card:nth-child(3n+3) {
  margin-right: 0;
}
#valores .klug-card p {
  border-top: 2px solid $blue;
  font-size: 16px;
  line-height: 17px;
  margin-top: 15px;
  padding-top: 25px;
  padding-right: 29px;
}
#valores .klug-card.active {
  background: $blue;
  box-shadow: 40px 43px 70px rgba(30, 93, 255, 0.29);
}
#valores .klug-card.active h3 {
  color: $red;
  border-color: #fff !important;
}
#valores .klug-card.active p {
  border-color: #fff;
  color: #fff;
}
#valores .klug-card.active img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(31%) saturate(1609%) hue-rotate(334deg) brightness(104%) contrast(103%);
}
/*** END VALORES ***/

/*** FOOTER ***/
.decor-bottom {
  clear: both;
  position: relative;
  top: -55px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: right;
}
footer {
  margin-top: -30px;
  width: 100%;
  height: 91px;
}
footer .wrapper {
  padding: 0 202px 0 204px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
footer h1 {
  float:left;
  margin-top: 23px;
}
footer nav {
  position: relative;
  float:left;
  width: calc( 100% - 401px);
}
.button-background {
  position: absolute;
  background: $yellow;
  display:block;
  border-radius: 4px;
  width: 108px;
  height: 29px;
  top: 35px;
  left: 46px;
  z-index: -1;
  transition: all 0.6s cubic-bezier(.17,.67,.23,1.01);
}
footer nav ul.menu {
  display: block;
  overflow: hidden;
  padding: 38px 0px 25px 46px;
  width: 100%;
}
footer nav ul.menu li {
  float:left;
  margin-right: 40px;
}

footer nav ul.menu li a {
  font-weight: 500;
  font-size: 14px;
  color: $blue;
  padding: 6px 12px 4px 12px;
}
footer ul.social {
  width: 262px;
  margin-top: 33px;
  display: block;
  overflow: hidden;
  text-align: right;
  float: right;
}
footer ul.social li {
  display: inline-block;
  margin-left: 8px;
}
/*** END FOOTER ***/

/**********************************************************************************/
/*** BREAKING POINTS ***/
/**********************************************************************************/

@media (max-width: 767px) { 
  /*** HEADER ***/  
  header .wrapper {
   padding: 0 30px;
  }
  header h1 {
    width: 100px;
  }
  header h1 a img {
    width: 95px;
    height: auto;
  }
  header nav {
    width: 100%;
    left: 0;
    position: absolute;
  }  
  .button-background {
    display: none;
  }
  header nav ul {
    position: absolute;
    z-index: 90;
    display: block;
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    top: -150px;
    left: 0px;
    transition: all 0.3s ease;
    opacity: 0;
  }
  header nav ul.active {
    top: 91px;
    opacity: 1;
  }
  header nav ul li {    
    display: block;
    width: 100%;
    clear: both;  
  }
  header nav ul li a {
    text-align: center;
    display: block;
    width: 100%;    
  }
  .menu-toggle {
    display: block;
    float: right;
    margin: 36px 0 20px 0;
    width: 25px;
    height: 25px;
    overflow: hidden;
    background: url(../image/icon-menu.svg) center no-repeat;
    text-indent: -9999em;
  }
  .menu-toggle.active {
    background: url(../image/icon-close.svg) center no-repeat;
  }  
  /*** END HEADER ***/  

  /*** TOPO ***/
  #topo {
    background: none;
    position: relative;
    width: 100%;
    height: 475px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 30px;
  }
  #topo br.mobile {display: block;}
  #topo br.desktop {display: none;}
  #topo h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 105.19%;
    color: #000;
  }
  #topo p {
    width: 100%;
    margin: 33px 0 33px 11px;
    font-size: 13px;
    line-height: 21px;
  }
  #topo img {display: block;}
  /*** END TOPO ***/

  /*** QUEM SOMOS ***/
  #quem-somos {
    background: none;
    margin-top: 0;
    padding-top: 100px;
  }
  #quem-somos h2 {
    background: url(../image/decor_quem_somos_mobile.svg) top right no-repeat;
    font-size: 35px;
    margin-bottom: 40px;
    padding: 75px 0 0 0;
  }
  #quem-somos img { 
    display: block;
    width: 85%;
    margin-bottom: 40px;
    max-width: none;
  }
  #quem-somos div.box.missao { 
    box-shadow: 6px -14px 23px rgba(240, 238, 238, 0.58);
    padding: 60px 30px 15px 30px;
  }
  #quem-somos div.box.visao {
    box-shadow: 0px 14px 23px rgba(240, 238, 238, 0.58);
    padding: 15px 30px 50px 30px;
    margin-bottom:20px !important;
  }
 
  #quem-somos div.box {
    float: none;
    clear: both;
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;    
    background: #fff;    
    border-radius: 8px;
  }
  #quem-somos div h3 {
    color: $yellow;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  #quem-somos div p {
    font-size: 13px;
    line-height: 21px;
  }
  /*** END QUEM SOMOS ***/

  /*** VALORES ***/
  #valores {
    width: 100%;
    overflow: visible;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .decor {    
    width: 100%;
    height: auto;
    background: none;
  }
  .decor img {
    display: block;
    width: 100%;
    max-width: none;
  }   
  #valores .wrapper {
    padding: 0 30px;
  }
  #valores h2 {    
    font-size: 35px;
    margin-top: 20px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  #valores .klug-card {
    float:none;
    position: sticky;
    top: 110px;
    margin: 0 auto;
    margin-bottom: 30px;   
    width: 100%;
    height: 235px;   
    padding: 35px 60px 45px 50px;   
  }
  .cards {
    //max-height: 2241px;
  }
  #valores .klug-card:nth-child(2) { top: 142px; }
  #valores .klug-card:nth-child(3) { top: 174px; }
  #valores .klug-card:nth-child(4) { top: 206px; }
  #valores .klug-card:nth-child(5) { top: 238px; }
  #valores .klug-card:nth-child(6) { top: 270px; }
  #valores .klug-card:nth-child(7) { top: 302px; }
  #valores .klug-card:nth-child(8) { top: 334px; }
  #valores .klug-card:nth-child(9) { top: 366px; }

  #valores .klug-card p {
    border-top: 2px solid $blue;
    font-size: 16px;
    line-height: 17px;
    margin-top: 15px;
    padding-top: 25px;
    padding-right: 29px;
  }
  #valores .klug-card.active {
    background: $blue;
    box-shadow: 40px 43px 70px rgba(30, 93, 255, 0.29);
  }
  #valores .klug-card.active h3 {
    color: $red;
    border-color: #fff !important;
  }
  #valores .klug-card.active p {
    border-color: #fff;
    color: #fff;
  }
  #valores .klug-card.active img {
    filter: brightness(0) saturate(100%) invert(89%) sepia(31%) saturate(1609%) hue-rotate(334deg) brightness(104%) contrast(103%);
  }
  /*** END VALORES ***/

  /*** FOOTER ***/
  .decor-bottom { display: none; }
  footer {
    margin-top: 125px;
  }
  footer .wrapper {
   padding: 0 30px;
  }
  footer h1 a img{
    width: 75px;
    height: auto;
  }
  footer nav {
    width: 100%;
    left: 0;
    position: absolute;
  }  
  .button-background {
    display: none;
  }
  footer nav ul.menu {
    position: absolute;
    z-index: 90;
    display: block;
    padding: 20px 0;
    width: 100%;
    background-color: none;
    top: -75px;
    left: 0px;
  }
  footer nav ul.menu li {    
    display: block;
    width: 100%;
    clear: both;  
  }
  footer nav ul.menu li a {
    text-align: center;
    display: block;
    width: 100%;    
  }
  footer ul.social {
    width: 80px;
    margin-top: 33px;
    display: block;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  footer ul.social li {
    display: block;
    float: right;
    margin-top: 4px;
    margin-left: 8px;
  }  
  footer ul.social li a img {
    height: 19px;
    width: auto;
  }
  /*** END FOOTER ***/    
}